body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
} 
header
{
    display: flex;
    align-items: center;
    padding: 30px 20%;
    background-color: #24252a;
}
.navlinks
{
    list-style: none;
    display: flex;
}
.navlinks a
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
.navlinks li
{
    padding: 0px 20px;
}
.navlinks li a:hover
{
    color: #0088a9;
}
header > img
{
    width:25px;
    height:50px;
    margin-right: auto;
}
@media screen and (max-width: 600px) 
{
    header,nav
    {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #24252a;
    }
}